@charset "utf-8";
@import url("./normalize.css");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*, *::before, *::after{
    box-sizing: border-box;
}
.list-language {

    width: 110px; /* 원하는 너비설정 */
    padding: 4px 20px; /* 여백으로 높이 설정 */
    font-family: inherit;  /* 폰트 상속 */
    background: url('이미지 경로') no-repeat 95% 50%; /* 네이티브 화살표를 커스텀 화살표로 대체 */
    border: 1px solid #999;
    /* border-radius: 0px; iOS 둥근모서리 제거 */
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
	border-radius: 20px;
	outline:none;
}
/* 링크 스타일 */
a{
    color: inherit;
    text-decoration: none;
}
.container {
	background: #c8c8c8;
}
.header {
	background: yellow;
    position: relative;
    padding: 30px 0;
}
.header-container{
	padding: 0 40;
	margin: 0 auto;
	width: 1120px;
}
.menu-item{
    float: left;
}
.logo {
    position: absolute;
    top: 18px;
}
.navigation {
    position: relative;
    left: 200px;
    line-height: middle;
}
.menu {

}
.menu::after{
    content: "";
    clear: both;
    display:block;

}
.menu-item {
    padding: 0 30px;
}
.menu-item:hover .sub-menu{
	display: block;
}
.menu-item-text {
}
.sub-menu {
    display:none;
    position: absolute;
    width: 100%;
    height: 100px;
    background: #999;
	top: 50px;
	z-index: 10;
    color: red;
    
}
/* .sub-menu-bg{
    position: absolute;
    display:none;
    width: 100%;
    height: 100px;
    top: 50px;
    background: #999;
    z-index: 10;
	color: red;
} */
.sub-menu-item-text {
}
.sm-sub-menu {
    display:none;
}

.n01 {
    left: -200px;
    /* vertical-align: middle; */
}
.n02 {
    left: -200px;
}
.n03 {
    left: -200px;
}
.n04 {
    left: -200px;
}
.sub-menu li{
    float: left;
    padding : 0 20px;
}
.headersub-menu {
    /* float: left; */
    position: absolute;
    left: 1000px;
    top: 23px;
}
.sitemap {
    padding: 0 20px;
}
.list-language {
}
.visual {
}
.visual-iframe{
	width: 100%;
	height: 500px;
	display: block;
}
.visual-main{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	/* display: block; */
}
.visual-main-text {
    color: white;
    font: 50px bold;
    margin-bottom: 20px;
}
.visual-main-button {
    width: 110px; /* 원하는 너비설정 */
    padding: 4px 20px; /* 여백으로 높이 설정 */
    font-family: inherit;  /* 폰트 상속 */
    border: 1px solid #999;
    /* border-radius: 0px; iOS 둥근모서리 제거 */
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
	border-radius: 20px;
    outline:none;
    font: 20px bold;
    color:white;

}

